# Jekyll artifacts
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Bundler / Gems
.bundle/
vendor/
vendor/bundle/

# macOS, editor, OS files
.DS_Store
Thumbs.db

# Optional: node modules if you ever add JS
node_modules/
